.App {
  background-color: #F5F5F5	;
  color: #000000;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 0px;
  font-family: 'Raleway', sans-serif;
  padding: 1vh 15vw 1vh 15vw;
}

h3, p, label {
  margin: 1vmin 1vmin 1vmin 1vmin;
}

.Header {
  font-size: calc(10px + 2vmin);
}

.Info {
  font-size: calc(10px + 1vmin);
}

.Video {
  margin: 1vmin 1vmin 1vmin 1vmin;
}